{% extends "base.html" %}
{% block content %}


<a href = "/blog">Main blog Page</a>

<a href="/newpost">Add a Blog Entry</a>


 <ul>
    {% for entry in entries %}
        <li>
            <h1>
                <a href="/blog?id={{ entry.id }}"> {{ entry.title }}</a>
            </h1>
            <h3>{{ entry.body }}</h3> 
            {% for user in users %}
               {% if entry.owner_id == user.id %}
            <h1>
                <a href="/blog?userid={{ user.id }}">{{ user.username }}</a>
            </h1>
               {% endif %}
            {% endfor %}


        </li>
    
    {% endfor %}
  </ul>

{% endblock %}