{% extends "base.html" %}

{% block content %}

<h1 class="padding">Login </h1>
<form class="padding font" action="/login" method="post">
    <table >
        <tr>
            <td><label for="username">Username</label></td>
            <td>
               <input name="username" type="text" >
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit Query">
</form>

<p class="padding" >Don't have an account?<a href="/signup">Create one!</a></p>

{% endblock %}