{% extends "base.html" %}

{% block content %}

<h1 class="padding">Signup!</h1>
<form  class="padding font" action="/signup" method="post">
    <table>
        <tr>
            <td><label for="email">Username</label></td>
            <td>
                <input name="email" type="text" value="{{email}}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">verify password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>
{% endblock %}